
<div class="container-fluid main_container w-100 h-100 d-flex justify-content-center align-items-center" style="background-color: #e8e8e8;" >
  <div class="container_form" style="width: auto;height: auto; margin: 0 auto; background-color: lightblue;border: 2px solid black; box-shadow: 4px 4px black;">
      <form [formGroup]="form" (ngSubmit)="validarLogin()" class="w-100 h-100">
          <div class="container-fluid d-flex justify-content-center align-items-center flex-column" style="border: 1px solid black; width: 60vw; height: 60vh;">
              <mat-form-field appearance="fill" style="width: 100%;">
                  <label for="correo" class="form-label" style="color: black;">Correo electronico:</label>
                  <input matInput formControlName="correo" style="width: 100%;border: 2px solid black; box-shadow: 4px 4px black;" value="0">
              </mat-form-field>

              <mat-form-field appearance="fill" style="width: 100%;">
                  <label for="clave" class="form-label" style="color: black;">Contraseña:</label>
                  <input matInput formControlName="clave" style="width: 100%;border: 2px solid black; box-shadow: 4px 4px black;" [type]="hide ? 'clave' : 'text'">
              </mat-form-field>

              <div style="display: flex; flex-direction: column;">
                  <button mat-raised-button class="btn btn-primary" style="border: 2px solid black; box-shadow: 4px 4px black;">
                      Iniciar Sesion
                  </button>

                  <button mat-button style="background-color: transparent;border: 0; padding: 15px 0;" (click)="crearCuenta()">
                    Crear Cuenta
                </button>
              </div>

          </div>
      </form>
      <div *ngIf="loading" class="spinner-overlay">
        <mat-spinner diameter="50"></mat-spinner>
      </div>

      
  </div>
</div>